/*****  ***************
IMPORTS
*******************/
@import url('accessibility.css');
@import url('card-styles.css');

/********************
YOUR STYLES
*******************/

    body {
        background: black;
    }

/* Branding & Personalization */
    /* Header */

            .navbar {
                background-color: #233D42;
                width: 100%;
                height: 10%;
                color: white;
                z-index: 1;
                padding: 10px;
                margin: -10px 0 0 0;
                position: fixed;
                top: 0;
            }

            .navbar h1 {
                color: #7BE7FF;
                font-family: 'Alex Brush', cursive; 
                font-size: 4em;
                text-align: center;
                margin-top: -180px;
                text-shadow: 2px 2px 2px black;
            }

            .navbar p {
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-size: .75em;
                margin-top: -60px;
                text-align: center;
            }

            .navbar svg {
                width: 200px;
                margin: -20px 10px 0px 0px;
            }



    /* Footer */
            .footer-area {
                width: 100%;
                height: 20px;
                color: white;
                background-color: #233D42;
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                font-size: 0.75em;
                position: fixed;
                bottom: 0;
                z-index: 1;
            }

/* Changing Original Documentation */

        .lg-backdrop { 
            rgba(0,0,0,0.5);
        }


        .main-area {
            padding: 2.5% 12% 10% 12%;
        }

        .main-area p {
            color: white;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        .card {
            padding: 25px;
        }

        .card img {
            height: 401px;
            width: 640px;
        }

        .card-content {
            text-align: center;
            font-family: 'Alex Brush', cursive;
            font-size: 2em;
            padding-bottom: 0;

        }

        .banner {
            height: 15%;
            width: 100%;
            background: url(../img/dark_wood.png);
            padding-top: 15%;
            padding-bottom: 5%;
        }

        .banner h1 {
            font-family: 'Alex Brush', cursive;
            font-size: 8em;
            text-align: center;
            text-shadow: 0.5px 0.5px 5px black;
            color: white;
            margin-top: -5%;
        }

        .banner p {
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 0.75em;
            text-align: center;
            text-shadow: 0.25px 0.25px 2.5px black;
            margin-top: -4%;
        }

        .arrowdown {
            width: 100px;
            padding-left: 47.5%;
            margin-top: -2%;
        }

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}